*{margin:0; padding:0;}
ul{list-style:none;}
a{text-decoration:none; color:#000;}

body{font-family:'arial';
    font-size:17px;
    line-height: 20px;
    color:#000;}


.header{background:#e1f3e3;
        width:100%;
        height:90px;
        position:relative;}



/*헤더메뉴 드롭다운 s*/

.nav{padding-left:200px;}


.nav>li{margin:0 auto;
        float:left;
        position:relative;}

.nav>li>a{display:block; 
        padding:35px 35px;
        text-align: center;}



.sub{width:100%;
    display:none;
    position:absolute;
    top:90px; left:0px;
    z-index:2;}

.sub li a{display:block;
            background-color:#2b5f49;
            color:#fff;
            text-align:center;
            /*border-bottom: 1px solid rgb(255, 255, 255);
            border-top: 1px solid rgba(175, 175, 175, 0.5);*/
            padding:10px;}

.nav li:hover .sub{display:block;}

.sub li a:hover{background-color:#e1f3e3;
                color:#2b5f49;} */

/*헤더메뉴 드롭다운 f*/




.topheader{position:relative;}

.logo{/*margin:0 auto;*/
    position:absolute;
    top:10px; left:50%;
    margin-left:-33.5px;}

.link{float:right;
    padding-right:200px;}
.link li{float:left;
        padding:35px 20px;}





.mainbanner{width:100%;
            height:795px;
            background: url(../images/main\ banner.jpg) no-repeat center top;
        }

.mainbanner a{display:block; 
        width:100%;
}




/*con1ani 문슬라이드 3개 스타트*/

.con1ani{width:100%;
    height:943px;
    background:url(images/con1-1.jpg) no-repeat center top;
    animation:con1ani 10s linear infinite;}

@keyframes con1ani{
0%{background:url(../images/con1-1.jpg) no-repeat center top;}
20%{background:url(../images/con1-1.jpg) no-repeat center top;}
30%{background:url(../images/con1-2.jpg) no-repeat center top;}
45%{background:url(../images/con1-2.jpg) no-repeat center top;}
55%{background:url(../images/con1-2.jpg) no-repeat center top;}
70%{background:url(../images/con1-3.jpg) no-repeat center top;}
80%{background:url(../images/con1-3.jpg) no-repeat center top;}
95%{background:url(../images/con1-3.jpg) no-repeat center top;}
100%{background:url(../images/con1-1.jpg) no-repeat center top;}
}

/*con1ani 문슬라이드 3개 피니쉬*/			





.con2{width:100%;
    height:1188px;
    position:relative;
    background:url(../images/con2bg.jpg) no-repeat;}


.con2 a img{position:absolute;
    top:180px;
    left:17%}




.brandstory{width:100%;
    height:1065px;
    position:relative;
    background:url(../images/brandstory\ bg.jpg) no-repeat;}


.brandstory a img{position:absolute;
                    top:150px;
                    left:50%;

                 margin-left:-561px;
                }





.laplumgirlbanner{margin-top:200px;
                width:100%;
                height:617px;
                background:url(../images/laplumgirlbanner.png) no-repeat;}


.magazinebanner{margin-bottom:150px;
                width:100%;
                height:398px;
                background:url(../images/magazinebanner.png) no-repeat;}


.communitybox{width:100%;
            height:273px;
            /* padding-left:27%; */
            margin-bottom:200px;

            text-align: center;
        
        }


.footer ul{float: left;
            padding:0 30px;
            font-size:13px;}


.footer{margin-top:150px;
        padding-left:35%;
        height:270px;
        background-color:#e1f3e3;
        padding-top:50px;}

.footer2{font-size:13px;
        text-align:center;
        padding-right:630px;}




